@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.background-image {
    position: absolute;
    height: 100vh;
    width: auto;
    z-index: -1;
}

.page-left {
    height: 100vh;
    flex: 1;
}

.page-right {
    background-color: #c4c4c4;
    height: 100vh;
    flex: 2;
}

.logo-and-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
    top: 100px;
    background-color: rgba(172, 172, 172, 0.5);
}

.title-paragraph {
    font-size: 5rem;
    font-family: 'Skranji', cursive;
    color: #fefefe;
}

.logo-image {
    height: 10rem;
    width: auto;
    object-fit: cover;
}